<footer class="page-footer" id = "footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Chess Store</h5>
        <p class="grey-text text-lighten-4">Our chess store is the best in the world. Thus, no one can remove any of our chess from the store.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Helpful Links</h5>
        <ul>
          <li><%= link_to 'About', about_path, class:"grey-text text-lighten-3"%></li>
          <li><%= link_to 'Contact', contact_path, class:"grey-text text-lighten-3"%></li>
          <li><%= link_to 'Privacy', privacy_path, class:"grey-text text-lighten-3"%></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright                        Webmaster: <%= mail_to "Your Email", "Your HAHA", :encode => "Javascript" %>
    <a class="grey-text text-lighten-4 right" href="http://67272.cmuis.net/">Linker to Supplier</a>

    </div>
  </div>
</footer>