<div class="container">

<h1>Welcom to Our Chess Store</h1>

<h1>Reorder List</h1>

<% if @items_to_reorder.blank? %>
    <div>
        <p>There are no items need reorder in the system at this time </p>
    </div>

<% else %>
    <table class ="highlight">
        <tr>
            <th>Name</th>
            <th>Inventory</th>
            <th>Reorder Level</th>
        </tr>

        <% @items_to_reorder.each do |board| %>
            <tr>
                <td><%= link_to board.name, item_path(board)%></td>
                <td><%= board.inventory_level %></td>
                <td><%= board.reorder_level %></td>
            </tr>
        <% end %>

    </table>
<% end %>
<br/>
</div>